<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  	<link rel="stylesheet" href="style.css" type="text/css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
  	<div class="heading-text bg-dark text-light">
  		Mechanics<a href="../front-page.html" style="margin-left:10rem" class="btn btn-light btn-lg active" role="button" aria-pressed="true">Back</a>
  	</div>
  	<div>
  		<p class="content-text text-reactive1">
  		Mechanics is a broader branch of Physics that includes kinematics(force and motion) and dynamics.
  		</p>
  		<div>
  		  Dynamics is what causes motion to happen. In other words, it is the force that acts on something to produce motion.
  		  If I was to push a box, my force acting upon the box will by the dynamic that will eventually end up moving the box(motion).
  		  This is Dynamics in simple terms.<div class="font-weight-bold"> F=ma   Force = mass * acceleration</div>
  		  
  		</div>
  		<div class="movingImage">
  		<img src="../img/Dynamic.JPG"></div>
  		<div class="content-text text-reactive1">
  		  However when you move to quantum mechanics, we see so many concepts shift. Now we are talking about subatomical physics.
  		  Again, to reiterate the complex nature of physics. But this the just the introduction to it, don't get intimidated because the more we know the less we fear.
  		  
  		</div>
  	</div>
  
  </body>
</html>