.navbar-title-hover{
	transition: background-color 400ms linear;
}
.navbar-title-hover:hover{
	background-color:lightblue;
}
.reactivenav-text{
	font-size: 1.5vw;
}
reactive-nav-margin{
	margin-left:1.2vw;
}