/*navbar*/
.navbar-inner {
    background:transparent;
    transition: background 600ms ease;
}
  .navbar-inner:hover {
    background:gray;
}
.reactivenav-text{
	transition: background-color 500ms ease;
}
.reactivenav-text:hover{
	background-color:lightblue;
}
.navbar-fixed-top.scrolled {
  background-color: gray !important;
  transition: background-color 300ms linear;
}
/*header/context*/
.reactive-header-text{
	font-size: 4vw;
	padding: 2vw;
}

.reactive-content-text1{
	font-size:3vw;
}